.contact {
  display: flex;
  margin: 10rem 0;
  justify-content: center;
}

.contact-wrapper {
  width: 70%;
}

.contact-header {
  font-size: 3rem;
  font-family: 'BioRhyme', serif;
  display: flex;
  justify-content: center;

}

.contact-container {
  display: flex;
  justify-content: space-around;
}

.bird-container {
  height: 30rem;
  width: 30rem;
  margin-top: 10rem;
}

.bird {
  max-width: 100%;
  max-height: 100%;
  filter: grayscale(100%);
}

.icon-container {
  display: flex;
  flex-direction: column;


}

.speech-bubble-container {
  position: relative;


  a {
    text-decoration: none;
  }
}

.speech-bubble {
  position: relative;
  height: 17rem;
  width: 21rem;
  background-color: $c-dark-blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 190%;
  top: 12rem;

  p {
    color: $c-straw;
    font-size: 2rem;
    // max-width: 60%;
    font-family: 'Fjalla One', sans-serif;
  }
}

.speech-bubble::before {
  content: "";
    position: absolute;
    right: 53%;
    top: 10rem;
    width: 0;
    height: 0;
    border-top: 6rem solid transparent;
    border-right: 13rem solid $c-dark-blue;
    border-bottom: 1rem solid transparent;
    z-index: 0;

}

.linkedin-container {
  position: absolute;
  top: 12rem;
  right: 25%;


}

.linkedin {
  height: 17rem;
  width: 21rem;
  background-color: $c-silver;
  color: $c-pale-straw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
}

.linkedin::before {
  content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -5.5%;
    top: 11rem;
    border-left: 13rem solid #9a8978;
    border-top: 5.9rem solid transparent;
    border-bottom: 0rem solid transparent;
    z-index: 0;

}

.github-container {
  position: absolute;
  top: 0rem;
  right: -84%;

}

.github {
  height: 17rem;
  width: 21rem;
  background-color: $c-mauve;
  color: $c-pale-straw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.github::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5rem solid $c-mauve;
  border-right: 2rem solid transparent;
  border-left: 2rem solid transparent;
  top: 16rem;
  z-index: 0;

}

// .facebook {
//   padding: 2rem;
//   background-color: $c-mauve;
//   max-width: 25%;
//   color: $c-pale-straw;
//   display: flex;
//   justify-content: center;
// }
