// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

$c-dark-blue: #273b43;
$c-mauve: #a6614f;
$c-straw: #eedfba;
$c-pale-straw: #f5e6c1;
$c-stone: #5b605c;
$c-silver: #9a8978;
$c-light-grey: #B3a992;

@import 'box-sizing';
@import 'ribbon';
@import 'about';
@import 'portfolio';
@import 'contact';
@import 'main';
@import 'modal';

// font-family: 'Arvo', serif;
// font-family: 'Bevan', cursive;
// font-family: 'Stint Ultra Condensed', cursive;
// font-family: 'Six Caps', sans-serif;
// font-family: 'BioRhyme', serif;
// font-family: 'Ultra', serif;
// font-family: 'Assistant', sans-serif;
// font-family: 'Rouge Script', cursive;
//
// font-family: 'Oswald', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Fjalla One', sans-serif;


html, body {
  height: 100%;
}

body::after {
  background: url(http://4.bp.blogspot.com/_jFM-Fd8NDFE/TCj2VYtYyII/AAAAAAAAHEA/KeYZHEigOT4/s1600/GrungeTexture-2.jpg);
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 600%;
  width: 100%;
  mix-blend-mode: screen;
  opacity: 0.2;
  pointer-events: none;
}

body {
  color: $c-dark-blue;
  background-color: $c-pale-straw;

}

img {
  max-width: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  // border: .75rem double $c-dark-blue;
}

.email-badge {
  position: absolute;
  top: 0rem;
  left: 3rem;
  height: 5rem;
  width: 12rem;
  background-color: $c-mauve;
  color: $c-pale-straw;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.2rem;
  padding: .5rem;
}

.arrow {
  font-size: 5rem;
  position: absolute;
  right: 5rem;
  top: 29.5rem;
  height: 5rem;
  width: 12rem;
  color: $c-mauve;
  font-weight: bold;
}
